asgiref>=3.8.1
colorama>=0.4.6
Django>=5.1.5
django-cors-headers>=4.6.0
django-markdownx>=4.0.7
djangorestframework>=3.15.2
djangorestframework_simplejwt>=5.4.0
iniconfig>=2.0.0
Markdown>=3.7
packaging>=24.2
pillow>=11.1.0
pluggy>=1.5.0
psycopg2-binary>=2.9.10
PyJWT>=2.10.1
pytest>=8.3.4
pytest-django>=4.9.0
python-dotenv>=1.0.1
sqlparse>=0.5.3
tzdata>=2024.2
channels>=4.2.0
langchain>=0.0.166
openai>=0.27.0
langchain_core>=0.3.33
langchain_google_genai
daphne
