@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 195 34% 95%;
    --foreground: 195 5% 2%;
    --card: 195 34% 90%;
    --card-foreground: 195 5% 10%;
    --popover: 195 34% 95%;
    --popover-foreground: 195 95% 2%;
    --primary: 195 68% 37%;
    --primary-foreground: 0 0% 100%;
    --secondary: 195 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 157 30% 85%;
    --muted-foreground: 195 5% 35%;
    --accent: 157 30% 80%;
    --accent-foreground: 195 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 195 5% 90%;
    --border: 195 30% 50%;
    --input: 195 30% 18%;
    --ring: 195 68% 37%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 195 34% 5%;
    --foreground: 195 5% 90%;
    --card: 195 34% 2%;
    --card-foreground: 195 5% 90%;
    --popover: 195 34% 5%;
    --popover-foreground: 195 5% 90%;
    --primary: 195 68% 37%;
    --primary-foreground: 0 0% 100%;
    --secondary: 195 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 157 30% 15%;
    --muted-foreground: 195 5% 60%;
    --accent: 157 30% 15%;
    --accent-foreground: 195 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 195 5% 90%;
    --border: 195 30% 18%;
    --input: 195 30% 18%;
    --ring: 195 68% 37%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.blog-pre {
  margin-bottom: 3em !important;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0);
  position: relative;
}

.code-copy-btn {
  color: white;
  position: absolute;
  right: 10px;
  top: -2px;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.code-copy-btn:hover {
  transform: scale(1.1);
  opacity: 0.9;
}